body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 2px solid rebeccapurple; */
  }
  
  .stopwatch {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* display: inline-block; */
    text-align: center;
    /* border: 2px solid red; */
  }
  
  .timeDisplay {
    background-image: url(assets/trees.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.979);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 17rem;
    /* border: 5px solid rgb(234, 108, 108); */
    border-radius: 500px;
    padding: 10px;
  }
  
  #display {
    font-size: 1.6rem;
    color: white;
    letter-spacing: 5px;
    /* text-shadow: 1px 4px 20px white; */
  }
  
  .stopwatchHeading {
    font-family: "Tangerine", cursive;
    font-size: 5rem;
    font-weight: px;
    color: #000000;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.406);
  }
  
  .controls {
    /* border: 2px solid rebeccapurple; */
    margin-top: 20px;
  }
  
  button {
    color: white;
    letter-spacing: 1px;
    width: 4.3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.6rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-weight: 700;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.979);
    cursor: pointer;
    background-color: #193e75a6;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
  }
  
  th,
  td {
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 10px 40px;
    text-align: center;
  }
  
  th {
    letter-spacing: 1px;
    font-family: cursive;
    background-color: #193e75a6;
    color: white;
  }
  
  td {
    background-color: #f3f3f3;
  }
  
  @media (max-width: 600px) {
    .stopwatch {
      flex-direction: column;
      align-items: center;
    }
  
    .stopwatchHeading {
      margin-top: 20px;
    }
  
    .controls {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    button {
      width: 90px;
      font-size: 0.5rem;
      margin: 5px 5px 25px 5px;
    }
  
    .timeDisplay {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    table {
      width: 80%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }